**/data_gtsrb/
**/archive.zip
*.zip
*.tar.gz
*.csv
*.pth
*.pt
*Kopia_notatnika*
*new_model.pth*
*/libs*
!ground_truth.csv


__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.pip-wheel-metadata/
.ipynb_checkpoints/
.vscode/


cmake-build-debug/
cmake-build-release/
.cmake/
build/
CMakeUserPresets.json
.idea/
*.cmake
Makefile
/libs/
